body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('img/home.jpg'); 
    
}

.left {
    display: inline-block;
     border: 2px solid red; 
     padding: 10px;
    position: absolute;
    left: 60px;
    top: 43px;
}

.left img {
    width: 100px;
}

.right {
    position: absolute;
    right: 34px;
    top: 43px;
    display: inline-block;
    /* border: 2px solid yellow; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 20px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;

}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: rgb(236, 76, 76);

}

.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 9px;
    background-color: #B32423;
    color: white;
    padding: 4px 14px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}


.btn:hover {
    background-color: #630101;
}

main{
    text-align: center;
    display:block;
    margin:auto;   
}

.hero{
    margin-top: 300px;
}
 h1{
     color: #e02121;
 }

 h3{
     font-family:'Courier New', Courier, monospace;
 }

 .about{
     margin-top: 150px;
     margin-left: 150px;
     margin-right: 150px;
 }

 .timings{
     background-color: #B32423;
     padding: 10px 30px;
     border-radius: 10px;
width: 40%;
margin: auto;
 }

 .container {
    background-color: rgba(15, 14, 14, 0.75);
    margin: auto;
    padding: 45px;
    width: 33%;
    border-radius: 10px;
    margin-top: 160px;
}

.container::after {
    content:none;
    background: url('img/home.jpg');
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.form-group input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    display: block;
    width: 508px;
    padding: 6px;
    margin: 10px auto;
    font-size: 14px;
    border-radius: 6px;
}
 
.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 30%;
    margin: 30px auto;
    font-size: 16px;
}

footer {
    background: #B32423;
    color: white;
    text-align: center;
    padding: .1em 0;
    position: fixed;
    margin-top: 2%;
    height: 50 ;
    width: 100%;
    
    font-size: 0.8em;
    bottom: 0;
}